html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bgcolor-main;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem; /* 18px */
    line-height: 150%;    
    color: $dkgray;
}

.container {
    width: 90%;    
    max-width: none;
    margin: 0 5%;
    @media $small {          
    }
    @media $medium {
        width: $container-default-width;
        max-width: $container-max-width;
        margin: 0 7.5%;
    }
    @media $large {   
    }
}

h1,h2,h3,h4,h5,h6, .container a {
    margin: 0;
    padding: 0;
    color: $green;
    font-weight: 400;
    text-decoration: none;
    line-height: 110%;
}
a img {
    border: 0px;
}
h1 {
    font-size: 160%;
}
.container a {
    line-height: inherit;
}

img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}
li {
    line-height: 115%;
    padding-bottom: 15px;
}

em {
    font-weight: 400;
}

sup {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}