@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$color-main: #000000;
$bgcolor-main: #ffffff;
$green: #76ad35;
$blue: #1c5ba1;
$dkgray: #575757;
$white: #ffffff;

$small: screen and (min-width: 760px);
$medium: screen and (min-width: 960px);
$large: screen and (min-width: 1200px);

$container-default-width: 80%;
$container-max-width: 760px;

$shadow: 0px 5px 10px rgba(0,0,0,0.1), 5px 5px 10px rgba(0,0,0,0.05), -5px -5px 10px rgba(0,0,0,0.05);
$ieshadow: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);