.footer {
  background: $blue;
  color: $white;
    .container {
        .branding {
            margin: 0;
            padding: 15px 0 0 30px;
        }
    }
}

.footer__address {
  font-size: 90%;
  line-height: 150%;
  margin: 50px 0 30px 30px;
}