.header {
    @mixin backImage '../img/eco-home-background.jpg';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 800px;
    @media $small {
      height: 75vh;
    }
}

.contact {
  padding: 0;
  z-index: 1;
  min-height: 680px;
  display: flex;    
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media $small {
    flex-direction: row;
  }
  @media $medium {
    height: 75vh;   
  }
}

.contact__headline {
  color: #fff;
}

.welcome__container {
  width: 100%;
  padding: 0 10% 0 5%;
  max-width: 640px;
  font-size: 100%;

  @media $small {
    width: 50%;
    font-size: 140%;
    padding: 0 0 6% 6%;
    max-width: none;
  }
  @media $medium {
    font-size: 150%;
  }
  @media $large {
    font-size: 180%;
  }
}

.welcome__headline {
    color: #fff;
    font-weight: 300;
    text-shadow: $shadow;
}

