.header .nav {
     background-color: $bgcolor-main;
}

.nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    .nav-elements {
        display: flex;
        .branding {
          width: 200px;
          padding-top: 15px;
        }
        .navbar {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
        }
        .phone {
          width: 100%;
          float: right;
          font-size: 24px;
           padding: 5px 0 0 0;
          li { 
              text-align: right;
              padding: 0;
              a {
              color: $blue;
              text-decoration: none;
              font-weight: 400;
            }
          }
        }
      }
  }

.phone__call {
 color: $green;
  letter-spacing: 1px;
}

.tagline {
    padding-top: 30px;
}
